body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: white;
}

.navbar {
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 55px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.brand {
    font-size: 15px;
    line-height: 18px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.signin-btn {
    padding: 10px 25px;
    background: #00c896;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.hero {
    padding: 40px 60px;
    padding-bottom: 10px;
    position: relative;
    background: linear-gradient(180deg, #003, #000);
}

.hero-content h1 {
    font-family: NeueMachina;
    font-size: 94px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 70px;
}

.green {
    color: #00d1a0;
}

.italic {
    font-style: italic;
}

.hero-side-text {
    margin-top: 0px;
    line-height: 20px;
    margin-left: 55rem;
    font-size: small;
}

.cta-btn {
    margin-top: 0px;
    padding: 15px 40px;
    font-size: 20px;
    background: #00d1a0;
    border-radius: 8px;
    border: none;
    margin-left: 25rem;
}

.hero-stats {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 80px;
    line-height: 5px;
}

.hero-stats h2 {
    font-size: 32px;
}

.hero-stats p {
    color: #ccc;
}

.video-section {
    text-align: center;
    padding: 60px 0;
}

.video-heading {
    font-size: 42px;
    font-weight: 300;
    line-height: 60px;
}

.video-wrapper {
    width: 70%;
    margin: 40px auto;
    border-radius: 20px;
    overflow: hidden;
}

.courses {
    padding: 80px 60px;
}

.courses-title {
    font-size: 48px;
    margin-bottom: 40px;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.course-card {
    width: 30%;
    background: #111;
    border-radius: 20px;
    padding-bottom: 20px;
}

.course-img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.course-body {
    padding: 20px;
    h2{
        font-size: 20px;
    }
}

.tag {
    display: inline-block;
    padding: 4px 10px;
    background: #222;
    border-radius: 5px;
    margin: 5px 5px 15px 0;
    font-size: 13px;
}

.tag.red {
    background: #b62828;
}

.discount-text {
    color: #00d1a0;
    margin-top: 10px;
}

.price-box {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.price {
    font-size: 20px;
}

.old-price {
    color: #777;
    text-decoration: line-through;
}

.off {
    padding: 4px 10px;
    background: #fff;
    color: #000;
    border-radius: 5px;
    font-size: 12px;
}
a {
    text-decoration: none;
}

.details-btn {
    width: 90%;
    margin: 20px auto 0;
    display: block;
    padding: 15px;
    background: #00d1a0;
    text-align: center;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.companies-section {
    text-align: center;
    padding: 80px 20px;
}

.companies-section h1 {
    font-size: 42px;
    line-height: 1.3;
    font-weight: 300;
}

.companies-section h1 span {
    color: #2af5c8;
    font-weight: 400;
}

.companies-image img {
    margin: 60px auto;
    max-width: 850px;
    width: 90%;
    display: block;
}

.explore-btn {
    background: #23e6b0;
    padding: 16px 45px;
    border: none;
    border-radius: 12px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.explore-btn:hover {
    background: #19c699;
}

.footer {
    padding: 60px 40px;
    background: #000;
    padding-bottom: 10px;
}

.footer-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
    gap: 60px;
    max-width: 1300px;
    margin: auto;
}

.footer-logo {
    width: 80px;
    margin-bottom: 15px;
}

.footer-col p {
    font-size: 15px;
}

.footer-col h3 {
    margin-bottom: 20px;
}

.footer-col a {
    display: block;
    color: white;
    opacity: .8;
    margin: 8px 0;
    text-decoration: none;
    transition: .3s;
}

.footer-col a:hover {
    opacity: 1;
}

.social-icons img {
    width: 32px;
    margin-right: 12px;
    cursor: pointer;
}

.phone {
    font-weight: 600;
}

.footer-bottom {
    text-align: center;
    color: white;
    margin-top: 50px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Responsive */
@media(max-width: 900px) {
    .footer-container {
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }
}

@media(max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: left;
    }
}